.presente {
    width: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tampa {
    width: 100px;
    height: 25px;
    background-color: rgb(203, 77, 182);
}

.caixa {
    width: 90px;
    height:60px;
    background-color: rgb(175, 47, 154); 
}

.laco1 {
    position: absolute;
    width: 15px;
    height:85px;
    background-color: rgb(223, 203, 79);
}

.laco2 {
    position: absolute;
    top: 40px;
    width: 90px;
    height:15px;
    background-color: rgb(201, 180, 45);
}